<!DOCTYPE html>
<html>
  <head>
    <title>day01</title>
  </head>
  <body>
    <div id="app">{{ message }}</div>
    <div id="app-2">
      <span v-bind:title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
      <todo-item></todo-item>
    </div>
    <div id="app-3">
      <p v-if="seen">现在你看到了我</p>
    </div>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
      </ol>
    </div>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">反转消息</button>
    </div>
    <div id="app-6">
      <p>{{ message }}</p>
      <input type="text" v-model="message">
    </div>
    <div id="app-7">
      <ol>
        <todo-item-list
         v-for="item in groceryList"
         v-bind:todo="item"
         v-bind:key="item.id"
        ></todo-item-list>
      </ol>
    </div>
    <script src="../lib/vue.js"></script>
    <script>
      /* 
       * 在script标签中书写的js代码是符合js的执行原则的，即需要遵守先后顺序书写
       * 参考98行注释的代码块，没有被执行，而是报错
       * 在35行书写的代码块能够被顺利执行
       */
      Vue.component('todo-item', {
        template: '<li>这是一个待办事项</li>'
      })

      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        }
      })
      
      var app2 = new Vue({
        el: '#app-2',
        data: {
          message: '页面加载与' + new Date().toLocaleString()
        }
      })

      var app3 = new Vue({
        el: '#app-3',
        data: {
          seen: true
        }
      })

      var app4 = new Vue({
        el: '#app-4',
        data: {
          todos: [
            {
              text: '学习Javascript'
            },
            {
              text: '学习Vue'
            },
            {
              text: '整个牛项目'
            }
          ]
        }
      })

      var app5 = new Vue({
        el: '#app-5',
        data: {
          message: 'Hello Vue.js!'
        },
        methods: {
          reverseMessage: function () {
            var stringArr = this.message.split('')
            console.log(stringArr.reverse())
            this.message = this.message.split('').reverse().join('')
          }
        }
      })

      var app6 = new Vue({
        el: '#app-6',
        data: {
          message: 'Hello Vue!'
        }
      })

      /*
       * Vue.component('todo-item', {
       *   template: '<li>这是一个待办事项</li>'
       * })
       */

      Vue.component('todo-item-list', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
      })
      
      var app7 = new Vue({
        el: '#app-7',
        data: {
          groceryList: [
            {
              id: 0,
              text: '蔬菜'
            },
            {
              id: 1,
              text: '奶酪'
            },
            {
              id: 2,
              text: '随便其它什么人吃的东西'
            }
          ]
        }
      })

      var data = {
        a: 1
      }

      var vm = new Vue({
        data: data
      })

      /*
       * vm.a === data.a
       * vm.a = 2 => data.a = 2
       * data.a = 3 => vm.a = 3
       */

    </script>
  </body>
</html>